<p><%= @restaurant.name %></p>
<p><%= @restaurant.description %></p>

<% @restaurant.reviews.each do |review| %>
<ul>
  <li> <%= review.comment %>, <%= "\u2605" * review.rating  %></li>
</ul>
  
<% end %>